.reveal section aside {
        position: relative;
        padding-left: 60px;
      }

.reveal section aside::before {
        content: "";
        background-image: url('what.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 54px;
        height: 54px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
